@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

article{
    background-color: #dcb9b4;
}

article h1{
    font-size: 30px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    color: azure;
}