@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

h2{
    text-align: center;
}

section h1{
    font-size: 30px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
}

.catalogo{
    background-color: #ead9ad;
}

/* .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
} */

/* .flex-item{
    display: flex;
    width: 200px;
    height: 200px;
    text-align: left;
} */

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    text-align: center;
    list-style: none;
} 

li img{
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    /* Resolución de moviles */
    .grid-container{
        float: none;
        grid-template-columns: auto;
    }

    .ul li img{
        width: 100px;
        height: 100px;
    }
}