body footer{
    padding: 20px;
    background-color: #648490;
}

.privacidad {
    padding-top: 80px;
    text-align: center;
    color: azure;
    line-height: 15px;
}

.grid-footer{
    display: grid;    
    grid-template-columns: repeat(5,5fr);
    list-style: none;
    padding: 5px;
}

.item-header{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #bca413;
}

.item-row{
    display: inline-block;
    list-style: none;
    padding-left: 70px;
    text-decoration: none;
    color: black;
    height: 40px;
}

.redes-sociales{
    width: 30px;
    height: 30px;
    text-decoration: none;
    padding-left: 50px;
    padding-top: 0px;
}

/* .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    font-size: large;
    font-weight: bold;
} */

/* .flex-item{
    display: flex;
    padding: 5px;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5rem;
    width: 400px;
} */

/* .list-footer{
    text-align: center;
    width: 400px;
    list-style: none;
} */