*{
    /* background-color: #ead9ad; */
    margin: 1px;
    padding-left: 0px;
}

main{
    background-color: #ead9ad;
    /* background-color: #ead9ad; */
}

/* .navbar{
    
    margin-left: 0px auto;
    
} */

nav ul li{
    list-style: none;
    float: left;
    margin: 3px;
    padding-left: 3px;
}

nav ul li a{
    margin: 20px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-decoration-line: underline overline;
    line-height: 20px;
    text-align: left;
    display: block;
}

nav ul li a:hover{
    text-decoration: none;
    background-color: #dcb9b4;
    color: white;
    border-radius: 5px;
    width: auto;
}

/* .img-responsive{
    width: 100px;
    height: auto;
    max-width: 40px;
} */

/* #redes-sociales{
    text-align: right;
} */